.modal {
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display: none;
    
}

.modalContent {
    padding: 25px;
    background: white;
    border-radius: 20px;
    min-width:370px;
}

.modal.active {
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(5, 5, 16, 0.16);
    z-index: 99;
}